html{
	background-color: #000000;
	min-width: 650px;
	max-width: 100%;
	color:#ccc;
	font-family: 'Homenaje', sans-serif;
	font-size:130%;
}

body{
	margin: 0;
}

h1{
	color: #ffffff;
	margin-left: 10px;
}

h2{
	color: #ffffff;
	float: left;
	font-size: 2em;
	text-align: left;
	margin-left: 20px;
	margin-top: 5px;

}

nav{
	color: #ffffff;
	text-align: right;
}

nav ul{
	margin-right: 10px;
	-moz-padding-start:0;
	-webkit-padding-start:0;
}

nav ul li{
	display: inline;
	list-style: none;
	margin-left: 0.9em;
}

nav h1{
	float:left;
	margin:0;
	padding:0;
	margin-top:-15px;
	margin-left: 10px;
}

ul li{
	margin-top: 10px;
}

a, a:visited{
	color: #cccccc;
	font-weight: bold;
	text-decoration:none;
}

a:active, a:hover{
	color: #333333;
	text-decoration:none;
}

.banner img{
	width: 100%;
}

.cart_content{
	clear:both;
}

.cart_item{
	margin:10px 5% 10px;
}

.cart_pic{
	width:200px;
	vertical-align:central;
	margin:20px auto;
	border-width:3px;
	border-color:#ccc;
	border-style:solid;
}

.right{
	float:left;
}

.left{
	float:left;
}

ul li{
	list-style-type:none;
}


button{
	clear:both;
	float:right;
	margin-right:60px;
	margin-bottom: 20px;
	background: #2B8707;
	border: none;
	border-radius: 10px;
	color: #ffffff;
	display: block;
	font: Georgia, Times, serif;
	padding: 7px 20px;
}

button:hover{
	background: #1C6E01;
	cursor: pointer;
}

footer{
	clear: both;
	text-align: center;
	margin-top: 0.3em;
	color: #adadad;
	font-size: 80%;
	border-top: 1px dotted #e8e8e8;
	
}

/*----------------------Tablet-------------------------*/
@media (max-width: 900px){

	html{
		font-size:150%;
		min-width: 480px;
	}
		
	ol{
		font-size: 85%;
		list-style-type:none;
	}

	ol li{
		margin-bottom: 10px;
	}
}

/*-------------------------Phone----------------------------*/
@media (max-width: 480px){

	html{
		font-size:150%;
		min-width: 400px;
	}

	nav{
		max-width: 480px;
		text-align: center;
	}

	nav a h1{
		float: none;
		margin: 0;
		font-size: 50px;
	}

	nav ul li{
		float: none;
		font-size: 30px;
		text-align: center;
		margin: 20px;
	}
	
	ol, select{
		font-size: 101%;
		list-style-type:none;
	}
}