html{
	background-color: #000000;
	min-width: 650px;
	max-width: 100%;
	font-family: 'Homenaje', sans-serif;
	font-size:130%;
}

h1{
	font-size:2.5em;
}

body{
	margin: 0;
}

.background img{
	width: 100%;	
}

nav{
	color: white;
	text-align: right;
}

nav ul{
	margin-right: 10px;
	-moz-padding-start:0;
	-webkit-padding-start:0;
}

nav ul li, h1{
	display: inline;
	list-style: none;
	margin-left: 0.9em;
}

a, a:visited{
	color: #cccccc;
	font-weight: bold;
	text-decoration:none;
}

a:active, a:hover{
	color: #333333;
	text-decoration:none;
}

.container{
	position: fixed;
	left: 0;
	bottom: 45px;
	background-color: rgba(255, 255, 255, 0.7); 
}

.name{
	margin-top: -45px;
	margin-left: 50px;
	color: white;
}

.textbox{
	clear: both;
	background-color: white;
	min-width: 650px;
	position: relative;
	color: black;
}

.textbox .paragraph h2{
	margin-bottom: 0px;
	margin-left: -15px;
}

.textbox .paragraph{
	color: black;
	float: left;
	width: 50%;
	margin-left: 4%;
	padding-right: 3%;
	border-right: 3px solid #1E1E1E;
}

.textbox .updates h2{
	margin-left: -10px;
}

.textbox .updates{
	color: black;
	float: right;
	width: 40%;
	margin-top: -10px;
}

h4{
	margin: -10px;
	margin-top: 5px;
}

footer{
	clear: both;
	text-align: center;
	margin-top: 500px;
	color: #adadad;
	font-size: 80%;
	border-top: 1px dotted #e8e8e8;
}

/*----------------------Tablet-------------------------*/
@media (max-width: 900px){
	h1{
		color: blue;
	}

	html{
		font-size:150%;
		min-width: 480px;
	}
	
	.container{
		margin-top: -50px;
		padding-top: -50px;
		width: 100%;
		position: relative;
		top: 45px;
		background-color: none;
	}
	
	.container h1{
		position: relative;
		color: white;
		background-color: none;
	}
	
	.textbox .paragraph{
		width: 90%;
		margin-left: 4%;
		padding-right: 3%;
		border-right: hidden;
		border-bottom: 3px solid #1E1E1E;
		color: white;
		background-color: none;
	}
	
	.textbox .updates{
		clear:both;
		float:left;
		width: 90%;
		margin-left: 4%;
		padding-right: 3%;
		color: white;
	}
}

/*-------------------------Phone----------------------------*/
@media (max-width: 480px){
	h1{
		color: purple;
	}

	html{
		font-size:150%;
		min-width: 400px;
	}

	nav{
		max-width: 480px;
	}

	.container{
		margin-top: -50px;
		padding-top: -50px;
		width: 100%;
	}
	.container h1{
		position: relative;
	}

}