html{
	background-color: #000000;
	min-width: 650px;
	max-width: 100%;
}

body{
	margin: 0;
}

h1{
	color: #ffffff;
	font-size: 40px;
	margin-left: 10px;
}

h2{
	color: #ffffff;
	float: left;
	font-family: 'Domine', serif;
	font-size: 32px;
	text-align: left;
	margin-left: 20px;
	margin-top: 5px;

}

nav{
	color: #ffffff;
	text-align: right;
	font-size: 15px;
}

nav ul{
	margin-right: 10px;
	-moz-padding-start:0;
	-webkit-padding-start:0;
}

nav ul li{
	display: inline;
	list-style: none;
	margin-left: 0.9em;
	font-family: 'Domine', serif;
}

nav ul li h1{
	text-align: left;
	margin-top: -30px;
	margin-bottom: -25px;
}

a, a:visited{
	color: #cccccc;
	font-weight: bold;
}

a:active, a:hover{
	color: #333333;
}

input{
	margin-top: 10px;
	margin-right: 10px;
	width: 250px;
	float: right;
}

img{
	width: 100%;
}

table{
	clear: both;
	background-color: black;
	top: -600px;
}

td{
	padding: 2%;
}

footer{
	clear: both;
	text-align: center;
	margin-top: 0.3em;
	color: #adadad;
	font-size: 80%;
	border-top: 1px dotted #e8e8e8;
	
}