html{
	background-color: #000000;
	min-width: 650px;
	max-width: 100%;
}

body{
	margin: 0;
}

.background img{
	width: 100%;	
}

h1{
	color: #ffffff;
	font-size: 40px;
	margin-left: 10px;
}	

nav{
	color: #ffffff;
	text-align: right;
	font-size: 15px;
}

nav ul{
	margin-right: 10px;
	-moz-padding-start:0;
	-webkit-padding-start:0;
}

nav ul li{
	display: inline;
	list-style: none;
	margin-left: 0.9em;
	font-family: 'Domine', serif;
}

nav ul li h1{
	text-align: left;
	margin-top: -30px;
	margin-bottom: -25px;
}

a, a:visited{
	color: #cccccc;
	font-weight: bold;
}

a:active, a:hover{
	color: #333333;
}

input{
	margin-top: 10px;
	margin-right: 10px;
	width: 250px;
	float: right;
}

.container{
	position: fixed;
	left: 0;
	bottom: 45px;
	background-color: rgba(255, 255, 255, 0.5); 
}

.name h1{
	margin-top: -45px;
	color: white;
	font-size: 26px;
}

.textbox{
	clear: both;
	background-color: #ffffff;
	min-width: 650px;
	position: relative;
	color: #000000;
}

.textbox .paragraph h2{
	margin-bottom: -10px;
	margin-top: 1px;
	margin-left: 10px;
}

.textbox .paragraph{
	color: #000000;
	float: left;
}

.textbox .paragraph p{
	width: 90%;
	margin-left: 50px;
	padding-right: 50px;
}

footer{
	clear: both;
	text-align: center;
	margin-top: 6em;
	color: #adadad;
	font-size: 80%;
	border-top: 1px dotted #e8e8e8;
}